<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <title>Quantamental - Market Sentiment</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="body-sentiment">

    <div class="header-container">
        <div>
            <div class="title-wrapper">
                <a href="https://github.com/alfwro13/Stock_Analysis_Project" target="_blank" class="logo-link">
                    <img src="/assets/logo_small.png" alt="Quantamental Logo" class="logo-img">
                </a>
                <h1>Market Sentiment</h1>
            </div>
            {% set active_page = 'market_sentiment' %}
                {% include 'navbar.html' %}
        </div>
    </div>

    <div class="explanation-box">
        <strong style="color: #fff;">How to read this chart:</strong> The <strong>S&P 500</strong> (Blue) represents the baseline health of the broader market. The <strong>Fear & Greed Index</strong> (Red) measures market emotion. Historically, market bottoms coincide with Extreme Fear (Below 25), presenting buying opportunities. Market tops often align with Extreme Greed (Above 75), signaling caution.
    </div>

    <div class="chart-wrapper" style="border-left: 4px solid #ff4d4d;">
        {{ sentiment_html | safe }}
    </div>

</body>
</html>